* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans Arabic', sans-serif;
  /* overflow-x: hidden; */
}

.clear {
  clear: both;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none !important;
}

hr {
  border-top: 3px solid #0099ff;
  width: 80%;
  margin: 0px auto 40px;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
/* Navbar */
nav {
  background-color: white;
}

nav .logo,
nav .nav-content,
nav .nav-res {
  float: right;
}

nav .logo {
  width: 15%;
  margin-top: 20px;
}

nav .logo img {
  width: 100%;
}
nav .nav-content {
  width: 79%;
  text-align: right;
  background-color: #0099ff;
  margin: 15px 10px;
  padding: 10px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

nav .nav-content a {
  margin: 0px 12px;
}
nav .nav-content .squares {
  float: left;
  margin-top: 5px;
  margin-left: 15px;
}
nav .nav-content .square {
  width: 30px;
  height: 30px;
  background-color: white;
  display: inline-block;
  border-radius: 5px;
  margin: 0px 6px;
}

nav .nav-content input {
  border-radius: 25px;
  border: 0;
  padding: 8px;
  margin: 0px 3px 0px 10px;
}

nav .nav-res {
  width: 3%;
  text-align: left;
  margin-top: 20px;
}

nav .nav-res i {
  font-size: 50px;
  color: #0099ff;
}

/* special */
.special {
  width: 80%;
  margin: 0 auto 50px;
  border: 3px solid #0099ff;
  border-radius: 25px;
  padding: 10px 20px;
  color: #0099ff;
  position: relative;
  margin-top: 70px;
}

.special legend {
  position: absolute;
  left: 42%;
  width: 20%;
  color: white;
  background-color: #0099ff;
  text-align: center;
  top: -13%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  font-size: 20px;
}

.special .spe-img {
  width: 35%;
}

.special .spe-content {
  font-size: 27px;
  font-weight: bold;
  align-self: center;
  margin-right: 25px;
}

/* Networks */
.network {
  width: 70%;
  margin: auto;
}

.network .card-net {
  width: 22%;
  margin: 0 15px;
  padding: 15px 20px;
  margin-top: 40px;
}
.network .card-net .see-more {
  position: absolute;
  left: -15px;
  border: none;
  color: white;
  font-size: 24px;
  padding: 3px 20px;
}

.card-net-vodafone .see-more {
  background-color: #fe2346;
}
.card-net-orange .see-more {
  background-color: #fc580e;
}
.card-net-etisalat .see-more {
  background-color: #699800;
}
.card-net-we .see-more {
  background-color: #8244a2;
}

.card-net-vodafone,
.card-net-orange,
.card-net-etisalat,
.card-net-we {
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 350px;
  text-align: right;
}
.card-net-vodafone {
  border: 2px solid #fe2346;
}
.card-net-orange {
  border: 2px solid #fc580e;
}
.card-net-etisalat {
  border: 2px solid #699800;
}
.card-net-we {
  border: 2px solid #8244a2;
}

.card-net-vodafone span,
.card-net-orange span,
.card-net-etisalat span,
.card-net-we span {
  font-size: 20px;
  font-weight: bold;
}
.card-net-vodafone span {
  border-bottom: 1px solid #fe2346;
  color: #fe2346;
}
.card-net-orange span {
  border-bottom: 1px solid #fc580e;
  color: #fc580e;
}

.card-net-etisalat span {
  border-bottom: 1px solid #699800;
  color: #699800;
}

.card-net-we span {
  border-bottom: 1px solid #8244a2;
  color: #8244a2;
}

.card-net-vodafone li,
.card-net-orange li,
.card-net-etisalat li,
.card-net-we li {
  font-size: 22px;
  margin-top: 10px;
  text-align: center;
}

.card-net-vodafone li {
  border-bottom: 1px solid #fe2346;
}
.card-net-orange li {
  border-bottom: 1px solid #fc580e;
}

.card-net-etisalat li {
  border-bottom: 1px solid #699800;
}

.card-net-we li {
  border-bottom: 1px solid #8244a2;
}

/* cash */
.cash {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.cash .cash-card {
  width: 22%;
  height: 220px;
  border-radius: 20px;
  border: 2px solid #bdbcba;
  padding: 0px;
}
.cash .cash-card img {
  width: 100%;
  height: 100%;
  padding: 1px;
  border-radius: 20px;
}

/* offers */
.offers {
  width: 90%;
  margin: 35px auto 30px;
  display: flex;
  justify-content: space-around;
}
.offers .offer {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgb(38, 129, 248) 0%,
    rgb(118, 196, 248) 39%,
    rgba(8, 156, 185, 0.137) 100%
  );
  padding: 10px;
  border-radius: 25px;
  font-weight: bold;
  text-align: center;
  font-size: 23px;
  line-height: 1;
  width: 30%;
  
}

.offers .offer .offer-img {
  border-radius: 25px;
}

.offers .offer .offer-img img {
  width: 100%;
  height: 100%;
  padding: 2px;
  border-radius: 25px;
}

.offers .offer .offer-content {
  margin-top: 25px;
  margin-bottom: 35px;
}

.all-offers button {
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 30px;
  background-color: #0099ff;
  font-weight: bold;
  color: white;
}

.space {
  height: 450px;
}

.slogo span {
  color: #0099ff;
}

.slogo p {
  font-weight: bold;
  font-size: 29px;
}

.about-us {
  background-color: #0099ff;
  color: white;
  font-weight: bold;
  font-size: 29px;
  text-align: center;
  padding: 70px 0;
}

footer {
  background-color: black;
  color: white;
  padding: 10px 0;
  font-size: 30px;
  font-weight: bold;
}

.shape-selection .shape-item {
  background: #0099ff;
  border-radius: 40px;
  padding: 10px 35px;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 20px;
}
.shape-selection .shape-item h3 {
  font-size: 30px;
  font-weight: bold;
}
.why-buy {
  width: 90%;
  margin: 50px auto;
}

.why-buy .why-buy-image {
  width: 50%;
}

.why-buy .why-buy-image img {
  display: block;
  float: left;
}
.why-buy .why-buy-text {
  width: 50%;
  padding: 57px;
  background: #d4eeff;
  border: 3px solid #009afc;
  border-radius: 40px;
  text-align: center;
  font-size: 35px;
  line-height: 1.5;
  font-weight: bold;
}

.phone-numbers-prices {
  width: 90%;
  margin: 70px auto;
}

.phone-number-price {
  background-color: #dbf1ff;
  border: 2px solid #1161ac;
  padding: 45px 20px;
  position: relative;
  border-radius: 30px;
  transform: skew(-7deg);
  text-align: center;
  width: 20%;
}
.phone-number-price h6 {
  background: #0099ff;
  width: 110%;
  padding: 10px 0;
  border-radius: 30px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 10px;
  font-size: 30px;
  font-weight: bold;
  right: 5px;
  margin-top: 10px;
}

.phone-number-price p {
  margin: 15px auto;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.v-number {
  background: #c80000;
  margin-top: 22px !important;
}
.o-number {
  background: #fb5000;
}

.e-number {
  background: #649600;
}

.phone-number-price .more {
  width: 85%;
  color: #fff;
  font-weight: bold;
  border-radius: 25px;
  background-color: #0099ff;
  font-size: 25px;
}

/* customers */
.customers {
  background: #c6e9ff;
  position: relative;
  width: 100%;
  margin: 0px auto;
  border-radius: 50px;
  border-bottom: 5px solid #09f;
  border-right: 3px solid #09f;
}
.customers legend {
  text-align: right;
  background-color: #09f;
  width: 25%;
  border-radius: 25px;
  padding: 1px 3px 3px 1px;
  font-size: 20px;
}

.customers legend span {
  display: block;
  background-color: white;
  border-radius: 25px;
  padding: 5px 15px;
  text-align: center;
}

.customers .bio {
  background-color: white;
  border: 2px solid #09f;
  width: 57%;
  position: absolute;
  right: 25%;
  border-radius: 25px;
  padding: 0px 10px;
  top: -10%;
}

.customers .bio .bio-content {
  align-self: center;
}

.customers .bio .bio-content i {
  height: 16px;
  padding-top: 10px;
  color: #09f;
}

.customers .bio .bio-content span {
  padding: 5px 7px;
}

.customers .content {
  text-align: center;
  margin-top: 60px;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}
.customers .content-img {
  border-radius: 50%;
  margin-top: 6%;
  height: 208px;
}

.customers .content-img img {
  border-radius: 50%;
}

.carousel {
  margin-top: 50px;
}
.carousel-inner {
  height: 450px;
}
.carousel-caption {
  color: #000;
  top: 50%;
}

.carousel-caption .more {
  display: flex;
  margin-top: 10px;
  margin-right: 45px;
}

.carousel-caption .more span {
  width: 25px;
  height: 15px;
  background-color: #09f;
  border-radius: 10px;
  margin: 20px 15px 0px;
}

.carousel-caption .more .btn {
  background-color: #09f;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 19px;
  padding: 5px 25px;
}

.steps {
  width: 70%;
  margin: 0 auto;
}

.steps .step {
  position: relative;
} 

.steps .step .step-1 {
  position: absolute;
  right: 23%;
  top: 44%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #7a048a;
}

.steps .step .step-2 {
  position: absolute;
  left: 11%;
  top: 44%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #639801;
}

@media (max-width: 1444px) {
  .network .card-net,
  .phone-number-price {
    width: 35%;
    margin: 20px auto;
  }
}

@media (max-width: 1370px){
  .customers legend{
    text-align: center;
  }
  .customers .bio {
    top: 0;
  }
  
}

@media (max-width: 930px) {
  .phone-number-price {
    width: 70% !important;
  }
}

@media (max-width: 878px) {
  .network .card-net {
    width: 70%;
    margin: 20px auto;
  }
}

@media (max-width: 1100px) {
  .why-buy .why-buy-image,
  .why-buy .why-buy-text {
    width: 90% !important;
  }
}

@media (max-width: 1200px) {
  .cash .cash-card {
    width: 30% !important;
  }
}

@media (max-width: 1100px) {
  .customers .content {
    width: 100%;
    margin-top: 80px;
  }
}


@media (max-width: 1030px) {
  .offers {
    justify-content: space-around;
  }
  .offers .offer {
    width: 35%;
    margin-bottom: 20px;
  }
  .offers .all-offers {
    width: 100%;
  }
}

@media (max-width: 1110px){
  .carousel-inner {
    height: 600px;
  }
  .customers .content {
    margin-bottom: 0;

  }
  .customers .content-img {
    margin-top: 0;
  }
}


@media (max-width: 890px) {
  .cash .cash-card {
    width: 45% !important;
  }
  .offers .offer {
    width: 70%;
  }

}

@media (max-width: 640px) {
  .cash .cash-card {
    width: 60% !important;
  }
}


@media (max-width: 1230px){
  .customers .content {
    font-size: 23px;
  }
  .customers .content-img img {
    width: 35%;
  }
}